@model ProyectoTiquiciaRecicla.Models.CAT_Centro_De_Acopio

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int usuarioRol = (int)ViewData["UsuarioRol"];
}

<div class="mx-0">
    <br />
    <h2><a asp-action="Mantenimiento" class="btn-outline-primary"><i class="bi bi-chevron-left mx-2 "></i></a><i class="bi bi-building"></i> Detalles de centro de acopio</h2>
    <hr />
</div>
<div>
 
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CH_Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CH_Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CH_Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CH_Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DEC_Latitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DEC_Latitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DEC_Longitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DEC_Longitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CH_Horario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CH_Horario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CH_Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CH_Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CH_Correo_Electronico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CH_Correo_Electronico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAT_Empresas_Recolectoras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAT_Empresas_Recolectoras.CH_Nombre)
        </dd>
    </dl>
</div>
@if (usuarioRol == 1)
{
    <div>
        <a asp-action="Editar" asp-route-id="@Model?.Id" class="btn btn-primary "><i class="bi bi-pencil"></i> Editar</a>
    </div>
}